<div class="feed" style="width:100%;">
<% for(var i=0; i< articles.length; i++) {%>
	
	<div class="item item-<%- articles[i].type%>">
		<a href="<%- articles[i].url %>">
			<div class="info image spacing_20px">
				<div class="row">
					<div class="col-md-4">
					
						<div>
							
								<span class="languages"><span style="background: black !important;"><%- articles[i].languages[0] %></span> </span>
								<span class="nima pill inactive" ><%- articles[i].type %></span>
							<% if(articles[i].type === "journal" || articles[i].type == "album"){ %>
								<img src="<%- articles[i].thumbnail %>" alt="">
							<% } else if(articles[i].type === "event" ){ %>
								<span class="dates">
									<div class="startdate">
										<em><%- articles[i].publish_date.split(" ")[1]%></em>
										<b><%- articles[i].publish_date.split(" ")[0]%></b>
									</div>
								</span>
							<% } %>
						</div> <!-- /image -->
					</div>
					<div class="col-md-5">
						<div>
							
							<h3><%- articles[i].title %></h3>
							<% if(articles[i].type === "event") { %>
								<p><%- articles[i].tag%></p>
							<% } %>
							<% if(articles[i].type === "album") {%>
								<p><%- articles[i].desc %></p>
								<p><%- articles[i].tag %></p>
							<% } %>
						</div>
					</div>
					<div class="col-md-3">
						<p>By <%- users[articles[i].author_id-1].username %></p>
						<% if(articles[i].type === "event") { %>
						<% for(var j=0; j<articles[i].locations.length; j++) {%>
							<p><%- articles[i].locations[j]%></p>
						<% } %>
						<% } %>
						<p><%- articles[i].publish_date %></p>
					</ul>
					</div>
				</div>
			</div>
		</a>
	</div>

<% } %>
						
	<p class="more"><a id="load-more" href="#">More articles</a></p>
</div>