<div class="feed" style="width:100%;">
<% for(var i=0; i< articles.length; i++) {%>
	
	<div class="<% if(i %2 == 1) {%>odd<%}%> item item-<%- articles[i].type%>" style="<% if(i >5 ) {%>display:none;<%}%>">
		
			<div class="info image spacing_20px" >
				<div class="row">
					<div class="col-md-4">
					
						<div>
							
								<span class="languages"><span><%- articles[i].languages[0] %></span> </span>
							<% if(articles[i].type === "journal" || articles[i].type == "album"){ %>
								<span class="nima pill inactive" ><%- articles[i].type %></span>
							<% } %>
							<% if(articles[i].type === "journal" || articles[i].type == "album"){ %>
								<a href="<%- articles[i].url %>"><img class="feed-img"  src="<%- articles[i].thumbnail %>" alt=""></a>
							<% } else if(articles[i].type === "event" ){ %>
								<span class="dates">
									<div class="startdate">
										<em><%- articles[i].publish_date.split(" ")[1]%></em>
										<b><%- articles[i].publish_date.split(" ")[0]%></b>
									</div>
								</span>
							<% } %>
						</div> <!-- /image -->
					</div>
					<div class="col-md-5" style="padding-left:20px;">
						<div>
							
							<h3><a href="<%- articles[i].url %>"><%- articles[i].title %></a></h3>
							<% if(articles[i].type === "event") { %>
								<p><%- articles[i].tag%></p>
							<% } %>
							<% if(articles[i].type === "album") {%>
								<p><%- articles[i].desc %></p>
								<p><%- articles[i].tag %></p>
							<% } %>
						</div>
					</div>
					<div class="col-md-3">
						<p><img src="<%- users[articles[i].author_id-1].profile.picture.thumbnail %>"></p>
						<p class="nima username"><%- users[articles[i].author_id-1].username %></p>
						<% if(articles[i].type === "event") { %>
						<% for(var j=0; j<articles[i].locations.length; j++) {%>
							<a class="event-locations" href="#"><%- articles[i].locations[j]%></a>
						<% } %>
						<% } %>
						<br>
						<p class="nima publish_date"><%- articles[i].publish_date %></p>
					</ul>
					</div>
				</div>
			</div>
	</div>

<% } %>
						
	<p class="more"><a id="load-more" href="#">More articles</a></p>
</div>