<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                        </div>

                        <div class="modal-body">

<div id="login_modal_content_wrapper">
<div id="login_options">
        <div id="login_social">
                <p><a href="javascript:allauth.facebook.login%28%27/en/nima/%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign In with Facebook
                </a></p>

                <p><a href="/en/twitter/login/?next=%2Fen%2Fnima%2F" class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign In with Twitter
                </a></p>

                <p><a href="/en/google/login/?next=http%3A%2F%2Fli1009-145.members.linode.com%3A8000%2Fen%2Fnima%2Fgoogle%2Flogin%2Fcallback%2F" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign In with Google
                </a></p>

                <p><a href="#" class="btn btn-block btn-social" id="disqus_user_button">
                <span class="fa"><img src="/static/img/icons/disqus_icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;" /></span> Sign In with Disqus
                </a></p>
        </div> <!-- /login_options -->

        <div id="login_or">
                <h6 class="or">~ or ~</h6>
        </div> <!-- /login_or -->

        <div id="login_form">



            <form method="post" action="/en/login/" data-title="Sign In" novalidate="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="NEXNwv2qkahVLU6SfH5OWgPLM6FxFO1w">

                    <p><label for="id_login">Login:</label> <input autofocus="autofocus" id="id_login" name="login" placeholder="Username or e-mail" type="text"></p>
            <p><label for="id_password">Password:</label> <input id="id_password" name="password" placeholder="Password" type="password"></p>

                    <!-- <input type="hidden" name="next" value="/en/login/?next=/en/nima/susan2/" /> -->

                    <button type="submit" class="btn btn-block btn-social" id="dn_user_button">
                            <span class="fa"><img src="/static/img/icons/icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;"></span> Sign In
                    </button>

                <p class="forgot"><a href="/en/password/reset/" class="btn btn-link" style="padding-left: 0;" data-remote="false" data-toggle="modal" data-target="#password_modal" data-dismiss="modal">Forgot Password?</a></p>
            </form>

        </div> <!-- /login_form -->
</div> <!-- /login_options -->

<div class="nima_switch">
        <div class="content">
                <p id="login_switch">Don't have an account? <a href="/en/signup/" data-remote="false" data-toggle="modal" data-target="#signup_modal" data-dismiss="modal">Sign Up</a></p>
        </div> <!-- /content -->
</div> <!-- /nima_switch -->

</div> <!-- /login_modal_content_wrapper -->


                        </div> <!-- /modal-body -->

                        <div class="modal-footer">
                                <p class="nima_terms">By signing in, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                        </div>

                        <img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
                </div> <!-- /modal-content -->
        </div>
</div> <!-- #login_modal -->

<div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                        </div>

                        <div class="modal-body">
<div id="signup_modal_content_wrapper">
<div id="nima_teaser">
    <div id="nima_message">
            <p>Are you a Nima*?</p>
            <p>
                Nima are members of the Discover Nikkei online community called Nima-kai. Join our community and share your stories about the Nikkei experience. Click an icon on the map to connect with Nima around the world!
            </p>
            <p>
            *The term &ldquo;Nima&rdquo; comes from combining <em>Nikkei</em> and <em>nakama</em> (Japanese for &ldquo;colleagues&rdquo;, or &ldquo;fellows&rdquo;, or &ldquo;circle&rdquo;).
            </p>
    </div> <!-- /nima_message -->

    <div id="nima_examples">

            

            

            <div class="nima_card" id="nima_card_1">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=United%20States&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>

                    <div class="content">
                         <!--    <img src="/media/cache/b7/81/b78147136d5ab7fad78a0aff6cc1da48.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                <% if(typeof users !== 'undefined') { %>
                                    <img class="profile-pic" src="<%- users[1].profile.picture.regular %>">
                                
                                    <div class="title">
                                        <h6><%- users[1].profile.firstname %>
 <%- users[1].profile.lastname %></h6>
                                          
                                    </div>

                                   
                                <% }%>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_2">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Peru&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>

                    <div class="content">
                          <!--   <img src="/media/cache/28/07/280791c49f63b83270ddc55acfc9fe96.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                <% if(typeof users !== 'undefined') { %>
                                    <img class="profile-pic" src="<%- users[0].profile.picture.regular %>">
                                
                                    <div class="title">
                                        <h6><%- users[0].profile.firstname %>
 <%- users[0].profile.lastname %></h6>
                                          
                                    </div>

                                   
                                <% }%>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_3">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Brazil&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>

                    <div class="content">
                      <!--       <img src="/media/cache/71/18/7118cbdd2a028268dfb021578301cca5.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                <% if(typeof users !== 'undefined') { %>
                                    <img class="profile-pic" src="<%- users[2].profile.picture.regular %>">
                                
                                    <div class="title">
                                        <h6><%- users[2].profile.firstname %>
 <%- users[2].profile.lastname %></h6>
                                          
                                    </div>

                                   
                                <% }%>
                            </div>
                    </div>
            </div> <!-- /nima_card -->
             

             
    </div> <!-- /nima_examples -->
</div> <!-- /nima_teaser -->

<div id="signup_options">
        <div id="signup_social">
                <p><a href="javascript:allauth.facebook.login%28%27/en/nima/%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign Up with Facebook
                </a></p>

                <p><a href="/en/twitter/login/?next=%2Fen%2Fnima%2F" class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign Up with Twitter
                </a></p>

                <p><a href="#" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign Up with Google
                </a></p>

                <p><a href="#" class="btn btn-block btn-social" id="disqus_user_button">
                <span class="fa"><img src="/static/img/icons/disqus_icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;" /></span> Sign Up with Disqus
                </a></p>
        </div> <!-- /signup_options -->

        <div id="signup_or">
                <h6 class="or">~ or ~</h6>
        </div> <!-- /signup_or -->

        <div id="signup_form">



            <form method="post" action="/en/signup/" data-title="Sign Up" novalidate="">
                <input type="hidden" name="csrfmiddlewaretoken" value="NEXNwv2qkahVLU6SfH5OWgPLM6FxFO1w">

                <p><label for="id_username">Username:</label> <input autofocus="autofocus" id="id_username" name="username" placeholder="Username" type="text"></p>
            <p><label for="id_email">E-mail:</label> <input id="id_email" name="email" placeholder="E-mail address" type="email"></p>
            <p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" placeholder="Password" type="password"><input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden"></p>

                <!-- <input type="hidden" name="next" value="/en/signup/?next=/en/nima/susan2/" /> -->

                <button type="submit" class="btn btn-block btn-social" id="dn_user_button">
                        <span class="fa"><img src="/static/img/icons/icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;"></span> Sign Up
                </button>
            </form>


        </div> <!-- /signup_form -->
</div> <!-- /signup_options -->

<div class="nima_switch">
        <div class="content">
                <p id="signup_switch">Already signed up? <a href="/en/login/" data-remote="false" data-toggle="modal" data-target="#login_modal" data-dismiss="modal">Sign In</a></p>
        </div> <!-- /content -->
</div> <!-- /nima_switch -->

</div> <!-- /signup_modal_content_wrapper -->


                        </div> <!-- /modal-body -->

                        <div class="modal-footer">
                                <p class="nima_terms">By signing up, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                        </div>

                        <img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
                </div> <!-- /modal-content -->
        </div>
</div> <!-- #signup_modal -->

<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                        </div>

                        <div class="modal-body">
                                <div id="password_modal_content_wrapper">
                                        <div id="password_form"></div> <!-- /password_form -->
                                </div> <!-- /password_modal_content_wrapper -->
                        </div> <!-- /modal-body -->

                        <img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
                </div> <!-- /modal-content -->
        </div>
</div> <!-- #password_modal -->