<%- layout('search-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12">
				
			</div>
		</div>
				
		<div class="row">
			<div class="col-md-6">
				<h2>Results</h2>
				<hr>
				<p>Sort by <div class="btn-group"><button class="btn btn-default">Alphabetical</button><button class="btn btn-default">Recently Active</button></div></p>
				<% if(typeof query != 'undefined') { %>
					<h1>You searched for: <%- query -%></h1>
				<% } else { %>
					<p>No results matched your search</p>
				<% } %>
				<div>
					<div>
						<div class="row">
							<div class="col-sm-2">
								pic
							</div>
							<div class="col-sm-10">
								<h6>omar99</h6>
								<p>London, United Kingdom</p>
								<p>Lorem ipsum dolor sit amet, consectur</p>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="col-sm-2">
								pic
							</div>
							<div class="col-sm-10">
								<h6>EdwardOmips</h6>
								<p>London, United Kingdom</p>
								<p>Lorem ipsum dolor sit amet, consectur</p>
							</div>
						</div>						
					</div>
					<div>
						<div class="row">
							<div class="col-sm-2">
								pic
							</div>
							<div class="col-sm-10">
								<h6>ScottTen</h6>
								<p>London, United Kingdom</p>
								<p>Lorem ipsum dolor sit amet, consectur</p>
							</div>
						</div>						
					</div>
					<div>
						<div class="row">
							<div class="col-sm-2">
								pic
							</div>
							<div class="col-sm-10">
								<h6>YAMADA</h6>
								<p>London, United Kingdom</p>
								<p>Lorem ipsum dolor sit amet, consectur</p>
							</div>
						</div>						
					</div>
					<div>
						<div class="row">
							<div class="col-sm-2">
								pic
							</div>
							<div class="col-sm-10">
								<h6>skawa244</h6>
								<p>London, United Kingdom</p>
								<p>Lorem ipsum dolor sit amet, consectur</p>
							</div>
						</div>						
					</div>
					<div class="text-center">
					<br>
						<div class="btn-group">
							<button class="btn btn-default"><</button>
							<button class="btn btn-primary">1</button>
							<button class="btn btn-default">2</button>
							<button class="btn btn-default">3</button>
							<button class="btn btn-default">4</button>
							<button class="btn btn-default">...</button>
							<button class="btn btn-default">405</button>
							<button class="btn btn-default">></button>
						</div>					
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<h2>Search</h2>
				<div>
					<h3>Username</h3>
					<div class="form-group">
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div>
					<h3>Nikkei Interests</h3>
					<br><input type="checkbox" name=""> Community History
					<br><input type="checkbox" name=""> Family Stories
					<br><input type="checkbox" name=""> Festival/Matsuri
					<br><input type="checkbox" name=""> Japanese / Nikkei Food
					<br><input type="checkbox" name=""> Japantowns
					<br><input type="checkbox" name=""> Taiko
					<br><input type="checkbox" name=""> Other
				</div>
				<div>
					<h3>Current City</h3>
					<div class="form-group">
						<input class="form-control" type="text" name="" placeholder="">
					</div>
				</div>
				<div>
					<h3>Hometown</h3>
					<div class="form-group">
						<input class="form-control" type="text" name="" placeholder="">
					</div>
				</div>
				<div>
					<h3>Communication Preference</h3>
					<br><input type="checkbox" name=""> English
					<br><input type="checkbox" name=""> 日本語
					<br><input type="checkbox" name=""> Espanol
					<br><input type="checkbox" name=""> Portugues
				</div>
				<div class="text-center">
					<button class="btn btn-default">Submit</button>
				</div>
			</div>
			<div class="col-md-3">
				<%- include ../partials/sidebar %>
			</div>
		</div>
	</div><!-- dn inner container -->
	<% include ../partials/footer %>

</div>
