<%- layout('default-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-10 col-sm-10">
				<div id="journal_introduction">
					
					<div class="row">
						<div class="col-md-2 col-sm-2 text-center" style="position:relative; left:10px;">
							<img class="nima community_icon" src="static/img/icons/users-100.png">
							<a class="btn btn-primary btn-lg" data-remote="false" data-toggle="modal" data-target="#signup_modal">Sign Up</a>
						</div>
						<div class="col-md-6 col-sm-6">
							<h2>Nima</h2>
							<p>Are you a Nima*?</p>
							<p>Nima are members of the Discover Nikkei online community called Nima-kai.  Join our community and share your stories about the Nikkei experience.  Click an icon on the map to connect with Nima around the world!</p>
							<p>The term "Nima" comes from combining Nikkei and nakama (Japanese for "colleagues", or "fellows", or "circle").</p>
						</div>
						<div class="nima-cards col-md-4 col-sm-4">
							<div id="nima_examples">
					            <div class="nima_card" id="nima_card_1">
					                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=United%20States&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>
					                    <% if(typeof users !== 'undefined') { %>
					                 	   <div class="bio-pic">
		                            			<img class="profile-pic" src="<%- users[1].profile.picture.regular %>">
		                            		</div>

					                    <% } %>

					                    <div class="content">
					                         <!--    <img src="/media/cache/b7/81/b78147136d5ab7fad78a0aff6cc1da48.jpg" alt="" class="thumbnail" /> -->

					                            <div class="bio">
					                            	<% if(typeof users !== 'undefined') { %>
					                            		
					                            	
					                                    <div class="title">
					                                        <h5><%- users[1].profile.firstname %>
					 <%- users[1].profile.lastname %></h5>
															  <h6><%- users[1].profile.current_city %></h6>
					                                    </div>

					                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/us.png"> </span></p>
					                                <% }%>
					                            </div>
					                    </div>
					            </div> <!-- /nima_card -->

					            

					            <div class="nima_card" id="nima_card_2">
					                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Peru&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>
					                    <% if(typeof users !== 'undefined') { %>
					                    	<div class="bio-pic">
			                            		<img class="profile-pic" src="<%- users[4].profile.picture.regular %>">
		                            		</div>
					                    <% } %>

					                    <div class="content">
					                          <!--   <img src="/media/cache/28/07/280791c49f63b83270ddc55acfc9fe96.jpg" alt="" class="thumbnail" /> -->

					                            <div class="bio">
					                            	<% if(typeof users !== 'undefined') { %>
					                            		
					                            	
					                                    <div class="title">
					                                        <h5><%- users[4].profile.firstname %>
					 <%- users[4].profile.lastname %></h5>
															  <h6><%- users[4].profile.current_city %></h6>
					                                    </div>

					                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/us.png"> </span></p>
					                                <% }%>
					                            </div>
					                    </div>
					            </div> <!-- /nima_card -->

					            

					            <div class="nima_card" id="nima_card_3">
					                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Brazil&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyBwARr4z5n64pS6miXyNyGomJC4xBr-vgc')"></div>
					                    <% if(typeof users !== 'undefined') { %>

						                    <div class="bio-pic">
			                            		<img class="profile-pic" src="<%- users[2].profile.picture.regular %>">
			                            	</div>	
			                            <% } %>
					                    <div class="content">
					                      <!--       <img src="/media/cache/71/18/7118cbdd2a028268dfb021578301cca5.jpg" alt="" class="thumbnail" /> -->

					                            <div class="bio">
					                            	<% if(typeof users !== 'undefined') { %>

					                                    <div class="title">
					                                        <h5><%- users[2].profile.firstname %>
					 <%- users[2].profile.lastname %></h5>
															  <h6><%- users[2].profile.current_city %></h6>
					                                    </div>

					                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/us.png"> </span></p>
					                                <% }%>
					                            </div>
					                    </div>
					            </div> <!-- /nima_card -->     
						    </div>
						</div>
					</div>
					
				</div>
				<div class="nima_search">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h3>Nima Map</h3>
						</div>
						<div class="col-md-6 col-sm-6 text-right">
							<form class="form-inline" action="/search/q" method="GET">
								<div class="form-group" style="width:100%;">
									<input class="form-control" type="text" name="search" placeholder="Search Nima" style="width:80%;"><button class="btn btn-primary">GO</button>
								</div>
							</form>
							<p><a href="/search">Advanced Search</a></p>
						</div>
					</div>
					<div class="caption">
						<div id="map"></div>
					</div>

				</div>
				<div class="row">
			<div class="col-md-8 col-sm-8 spacing_20px">
				<h3>Nima-kai Community Activity Feed</h3>
				
				<div class="">
					<div class="btn-group" role="group">
					<button type="button" id="activity-all" class="btn btn-default active">All</button>
					<button type="button" id="activity-journal" class="btn btn-default">Journals</button>
					<button type="button" id="activity-event" class="btn btn-default">Events</button>
					<button type="button" id="activity-album" class="btn btn-default">Nikkei Album</button>
						
					</div>
				</div>
				<% include ../partials/events2 %>
			</div>
			<div class="col-md-4 col-sm-4 spacing_20px middle-rail">
				<h3>Latest Comments</h3>
				<script type="text/javascript" src="http://discovernikkei.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=40&excerpt_length=200&color=grey&default_tab=recent"></script>
				
			</div>
			
		</div>	
			</div><!-- end .col-10 -->
			<div class="col-md-2 col-sm-2 ">
					<%- include ../partials/sidebar %>
			</div>
		</div>
				
			
	</div><!-- dn inner container -->
	<% include ../partials/footer %>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzycUlwH3NrMq_i3ohLDzJHPjZe4FsMQc&callback=initMap"></script>


</div><!-- end #container -->
